<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate Part</title>
    <link rel="icon" href="{% static 'images/logo.jpeg' %}">
    <style>
        body {
            background-color: #f9f9fb;
            font-family: "Segoe UI", "Helvetica Neue", sans-serif;
        }

        .tit {
            font-size: 8.5vw;
        }

        .card {
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
            border: none;
            text-align: center;
            margin: 0 auto 20px;
        }

        .card-body {
            text-align: center;
        }

        .card-title {
            font-weight: 600;
            color: #2c3e50;
        }

        .card-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 12px 12px 0 0;
        }

        .list-group-item {
            background-color: #fff;
            font-size: 0.95rem;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <hr>
            <div class="bck_title">
                <div class="tit">Part IV &nbsp; 翻译</div>
            </div>
            <hr>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <hr>
            <p style="text-align: center; font-size: 5.5vw;">✅ 先 牢 记 考 试 时 间 🕰️</p>
            <div class="card" style="width: 90%">
                <img src="{% static 'images/reading_time.png' %}" class="card-img">
            </div>
            <div class="card" style="width: 90%">
                <img src="{% static 'images/reading_time6.png' %}" class="card-img">
            </div>
            <p style="text-align: center; font-size:3.5vw;">
                📝翻译时间：30 分钟。<br>
                🎯分值：占总分的 15%，满分为 710 × 15% = 106.5 分。
            </p>
            <hr>
        </div>

        <p style="text-align: center; font-size: 5.5vw;">✅ 直 接 说 作 答 思 路 💡</p>
        <p style="text-align: center; font-size: 4vw;">_ 主干扩充法 + 单词替换法 + 忽视细节法 _
        </p>
        <div class="card">
            <div class="card-body">
                <br>
                <p style="text-align: center; font-size: 5vw;">❶ 第一步：先找句子主干再扩充 </p>
                <p style="text-align: center; font-size: 3.5vw;">怎么找主干？缩句。最精简的缩句就是主干。</p>
                <img style="width: 90%" src="{% static 'images/translate_exercise(1).jpg' %}"
                    alt="translate_exercise(1)"><br><br>
                <p style="text-align: center; font-size: 3.5vw;">
                <table border="1.5" style="width: 90%; text-align: center; margin: 0 auto;">
                    <tr>
                        <th style="text-align: center;"><strong>缩句前</strong></th>
                        <th style="text-align: center;"><strong>缩句后</strong></th>
                    </tr>
                    <tr>
                        <td><strong>扇子自古以来就深受中国人喜爱</strong></td>
                        <td><strong>扇子受人喜爱</strong></td>
                    </tr>
                    <tr>
                        <td><strong>但现在已不再只是消暑纳凉的工具</strong></td>
                        <td><strong>是工具</strong></td>
                    </tr>
                    <tr>
                        <td><strong>更多地作为艺术品供人欣赏</strong></td>
                        <td><strong>作为艺术品</strong></td>
                    </tr>
                </table>
                </p>
                <hr>
                <p style="text-align: center; font-size: 3.5vw;"><strong>"Fans are cherished by people."</strong></p>
                <p style="text-align: center; font-size: 3.5vw;">现在加上"自古以来","深","中国"</p>
                <p style="text-align: center; font-size: 3.5vw;"><strong>"Fans have been cherished by Chinese people
                        since ancient times."</strong></p>
                <hr>
                <p style="text-align: center; font-size: 3.5vw;"><strong>"they are tools"</strong></p>
                <p style="text-align: center; font-size: 3.5vw;">现在加上"但现在已不再","只","消暑纳凉的"</p>
                <p style="text-align: center; font-size: 3.5vw;"><strong>"yet now they are no longer merely tools for
                        relieving summer heat"</strong></p>
                <hr>
                <p style="text-align: center; font-size: 3.5vw;"><strong>"they are as works of art"</strong></p>
                <p style="text-align: center; font-size: 3.5vw;">现在加上"更多地","供人欣赏"</p>
                <p style="text-align: center; font-size: 3.5vw;"><strong>"they are increasingly admired as works of
                        art."</strong></p>
                <br>
                <hr>
                <p style="text-align: center; font-size: 5vw;"> ❷ 第二步：同义替换或单词解释法 </p>
                <p style="text-align: center; font-size: 3.5vw;">先找同义词，没有再找上位词，再不会就用句子解释该单词</p>

                <table border="1.5" style="width: 90%; text-align: center; margin: 0 auto;">
                    <tr>
                        <th style="text-align: center;"><strong>原词</strong></th>
                        <th style="text-align: center;"><strong>同义词替换</strong></th>
                        <th style="text-align: center;"><strong>上位词替换（一）</strong></th>
                        <th style="text-align: center;"><strong>上位词替换（二）</strong></th>
                        <th style="text-align: center;"><strong>句子解释</strong></th>
                    </tr>
                    <tr>
                        <td><strong>消暑纳凉</strong></td>
                        <td>relieve summer heat</td>
                        <td>measures for heat</td>
                        <td>ways to handle hot weather</td>
                        <td>Tools aiding people in escaping heat and attaining coolness.</td>
                    </tr>
                    <tr>
                        <td><strong>艺术品</strong></td>
                        <td>works of art</td>
                        <td>artistic creations</td>
                        <td>cultural expressions</td>
                        <td>Items crafted with aesthetic value for appreciation.</td>
                    </tr>
                    <tr>
                        <td><strong>扇子</strong></td>
                        <td>fans</td>
                        <td>cooling utensils</td>
                        <td>handheld objects</td>
                        <td>A flat - bladed item held in hand to generate airflow for cooling.</td>
                    </tr>
                </table>
                <br>
                <hr>
                <p style="text-align: center; font-size: 5vw;"> ❸ 第三步：忽视细节法 </p>
                <p style="text-align: center; font-size: 3.5vw;">实在没有办法翻译的部分就直接忽略掉</p>
                <table border="1.5" style="width: 90%; text-align: center; margin: 0 auto;">
                    <tr>
                        <th style="text-align: center; padding: 10px;"><strong>翻译方法</strong></th>
                        <th style="text-align: center; padding: 10px;"><strong>原句</strong></th>
                        <th style="text-align: center; padding: 10px;"><strong>翻译结果</strong></th>
                    </tr>
                    <tr>
                        <td style="padding: 10px;"><strong>完整翻译</strong></td>
                        <td style="padding: 10px; vertical-align: top;">扇子自古以来就深受中国人喜爱，但现在已不再只是消暑纳凉的工具，更多地作为艺术品供人欣赏
                        </td>
                        <td style="padding: 10px; vertical-align: top;">"Fans have been deeply cherished by Chinese
                            people since ancient times. But now they are no longer merely tools for relieving summer
                            heat, but more often regarded as works of art for people to appreciate."</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;"><strong>忽视细节</strong></td>
                        <td style="padding: 10px; vertical-align: top;">扇子自古以来就深受中国人喜爱，但现在已不再只是消暑纳凉的工具，更多地作为艺术品供人欣赏
                        </td>
                        <td style="padding: 10px; vertical-align: top;">"Fans are deeply loved by Chinese people. Now
                            they are not just tools, but as works of art."</td>
                    </tr>
                </table>
                <hr>
                <p style="text-align: center; font-size: 5vw;"> ✅ 附上答案 </p>
                <img style="width: 90%" src="{% static 'images/translate_answer.jpg' %}" alt="translate_answer">
                <br><br>
                <hr>
                <p style="text-align: center; font-size: 5vw;"> 💫 预测一些高频难译的词汇 </p>
                <table border="1" style="width: 80%; text-align: center; margin: 0 auto; border-collapse: collapse;">
                    <tr>
                        <th style="border: 1px solid #000; padding: 12px; text-align: center;"><strong>词汇</strong></th>
                        <th style="border: 1px solid #000; padding: 12px; text-align: center;"><strong>英文翻译</strong>
                        </th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">改革开放</td>
                        <td style="border: 1px solid #000; padding: 12px;">reform and opening-up</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">一带一路</td>
                        <td style="border: 1px solid #000; padding: 12px;">the Belt and Road Initiative</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">脱贫攻坚</td>
                        <td style="border: 1px solid #000; padding: 12px;">poverty alleviation</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">绿水青山</td>
                        <td style="border: 1px solid #000; padding: 12px;">lucid waters and lush mountains</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">碳中和</td>
                        <td style="border: 1px solid #000; padding: 12px;">carbon neutralization</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">数字化转型</td>
                        <td style="border: 1px solid #000; padding: 12px;">digital transformation</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">共同富裕</td>
                        <td style="border: 1px solid #000; padding: 12px;">common prosperity</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">人类命运共同体</td>
                        <td style="border: 1px solid #000; padding: 12px;">a community with a shared future for mankind
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">与时俱进</td>
                        <td style="border: 1px solid #000; padding: 12px;">keep pace with the times</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">实事求是</td>
                        <td style="border: 1px solid #000; padding: 12px;">seek truth from facts</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">和谐社会</td>
                        <td style="border: 1px solid #000; padding: 12px;">harmonious society</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">互利共赢</td>
                        <td style="border: 1px solid #000; padding: 12px;">mutual benefit and win-win outcomes</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">源远流长</td>
                        <td style="border: 1px solid #000; padding: 12px;">have a long-standing history</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">博大精深</td>
                        <td style="border: 1px solid #000; padding: 12px;">broad and profound</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 12px;">安居乐业</td>
                        <td style="border: 1px solid #000; padding: 12px;">live and work in peace and contentment</td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <br>
                <p style="text-align: center; font-size: 4vw;">✨ 完毕，按这个流程练一练，熟能生巧 ✨</p>
                <br>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>