<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing Part</title>
    <link rel="icon" href="{% static 'images/logo.jpeg' %}">
    <style>
        body {
            background-color: #f9f9fb;
            font-family: "Segoe UI", "Helvetica Neue", sans-serif;
        }

        .tit {
            font-size: 8.5vw;
        }

        .card {
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
            border: none;
            text-align: center;
            margin: 0 auto 20px;
        }

        .card-body {
            text-align: center;
        }

        .card-title {
            font-weight: 600;
            color: #2c3e50;
        }

        .card-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 12px 12px 0 0;
        }

        .list-group-item {
            background-color: #fff;
            font-size: 0.95rem;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <hr>
            <div class="bck_title">
                <div class="tit">Part I &nbsp; 写作</div>
            </div>
            <hr>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <hr>
            <p style="text-align: center; font-size: 5.5vw;">✅ 先 牢 记 考 试 时 间 🕰️</p>
            <div class="card" style="width: 90%">
                <img src="{% static 'images/writing_time.png' %}" class="card-img">
            </div>
            <div class="card" style="width: 90%">
                <img src="{% static 'images/writing_time6.png' %}" class="card-img">
            </div>
            <p style="text-align: center; font-size:3.5vw;">
                📝写作时间：30 分钟（建议25分钟内完成）。<br>
                🎯分值：占总分的 15%，满分为 710 × 15% = 106.5 分。
            </p>
            <hr>
        </div>

        <p style="text-align: center; font-size: 5.5vw;">✅ 直 接 说 作 答 思 路 💡</p>
        <p style="text-align: center; font-size: 3vw;"> （重思路，非模版） </p>
        <hr>
        <p style="text-align: center; font-size: 3vw;">_ 要明白，不管什么题目，都不过是围绕某一个主题进行讨论。_<br>_ 所以不管这个主题是什么，我们都可以按照以下步奏：_
        </p>
        <div class="card">
            <div class="card-body">
                <br>
                <p style="text-align: center; font-size: 5vw;">❶ 第一步：列三个小标题</p>
                <p style="text-align: center; font-size: 3vw;">(读清楚作文要讨论的主题是什么<br>先在草稿纸上快速列出<strong>三个讨论方向</strong>（用" {
                    "）准备进行阐述，如下：)</p>
                <pre style="text-align:center; font-size: 3vw;">

<img style="width: 90%" src="{% static 'images/writing(2).png' %}" alt="writing(2)">
<img style="width: 90%" src="{% static 'images/writing(1).png' %}" alt="writing(1)">
<img style="width: 90%" src="{% static 'images/writing(3).png' %}" alt="writing(3)">

<img style="width: 90%" src="{% static 'images/writing_title.png' %}" alt="writing_title">

<img style="width: 90%" src="{% static 'images/writing_frame(1).jpg' %}" alt="writing_frame">
<img style="width: 90%" src="{% static 'images/writing_frame(2).jpg' %}" alt="writing_frame">
<img style="width: 90%" src="{% static 'images/writing_frame(3).jpg' %}" alt="writing_frame">
                </pre>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p style="text-align: center; font-size: 5vw;">❷ 第二步：构思作文结构</p>
                <p style="text-align: center; font-size: 3vw;">
                    <strong>开头 </strong>引出话题 + 发表自己观点<br><strong>中间 </strong>三段式展开写那三个小标题 <br><strong>结尾 </strong>点题总结 +
                    升华主旨
                </p>
                <img style="width: 90%" src="{% static 'images/writing_structure.jpg' %}" alt="writing_frame">
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p style="text-align: center; font-size: 5vw;">❸ 第三步：如何填充内容</p>
                <p style="text-align: center; font-size: 4vw;"> [假如用“自律”主题] </p>
                <p style="text-align: center; font-size: 3vw;">第一段: <strong>引出话题 + 发表自己观点</strong></p>
                <img style="width: 90%" src="{% static 'images/writing_example(1).jpg' %}" alt="writing_example(1)">
                <br>
                <p style="text-align: center; font-size: 3vw;">
                <p style="font-size: 3vw;"">黑色下划线：解释什么是“自律”，</p>
                <p style=" color: red; font-size: 3vw;"">红色下划线：发表了自己的观点。</p>
                </p>
                <hr>
                <p style="text-align: center; font-size: 3vw;">第二段: <strong>列出先前分的三个小标题 + 举例子论证</strong></p>
                <img style="width: 90%" src="{% static 'images/writing_criteria.png' %}" alt="writing_frame">
                <p style="text-align: center; font-size: 3.5vw;">可以看出举实际例子特别重要</p>
                <p style="text-align: center; font-size: 3vw;">
                    按照：<strong>"写一个小标题，举一个例子"</strong>的写法，很容易写下去。<br>如果字数已经差不多了，那最后一个小标题可以不举例子。
                </p>
                <img style="width: 90%" src="{% static 'images/writing_example(2).jpg' %}" alt="writing_example(2)">
                <hr>
                <p style="text-align: center; font-size: 3vw;">第三段: <strong>点题总结 + 升华主旨</strong></p>
                <img style="width: 90%" src="{% static 'images/writing_example(3).jpg' %}" alt="writing_example(2)">
                <hr>
            </div>
            <p style="text-align: center; font-size: 3vw;">
                ✅ 提示：书写规范 📝<br>单词间隙尽量保持一致，字母间隙也尽量保持一致，<br>字体大小适中，整体左右减少突出部分，以清秀为主。
            </p>
            <hr>
        </div>

        <div class="card">
            <div class="card-body">
                <p style="text-align: center; font-size: 5vw;"> ❹ 另外，关于模版套用</p>
                <p style="text-align: center; font-size: 4vw;"> 【⚠️ 注意：原则上减少套用模版！】</p>
                <p style="text-align: center; font-size: 3vw;">
                    四六级打压模版作文，但若少部分使用或者不追求高分，也无可厚非<br>如果备考紧急或参考学习需要的话，我也整理了以下句子：
                </p>
                <img style="width: 90%" src="{% static 'images/writing_models(1).jpg' %}" alt="writing_frame">
                <img style="width: 90%" src="{% static 'images/writing_models(2).jpg' %}" alt="writing_frame">
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p style="text-align: center; font-size: 5vw;">🎈 用一篇作文演示模版 </p>
                <img style="width: 90%" src="{% static 'images/writing_exercise.png' %}" alt="writing_frame">
                <p style="text-align: center; font-size: 3vw;">先分析：题目要求我们写一篇以<br><strong>“当今世界，数字素养与技能的重要性”</strong>
                    开头的作文</p>
                <p style="text-align: center; font-size: 3vw;"><strong>📌先列三个小标题</strong></p>
                <img style="width: 90%" src="{% static 'images/writing_exercise_frame.png' %}"
                    alt="writing_exercise_frame">
                <br>
                <p style="text-align: center; font-size: 3vw;">(圆圈代表模版序号，方形代表结构序号)</p>
                <img style="width: 90%" src="{% static 'images/writing_exercise_work.jpg' %}"
                    alt="writing_exercise_work">
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p style="text-align: center; font-size: 4vw;">✨ 完毕，按这个流程练一练，熟能生巧 ✨</p>
                <br>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>